<header class="main-header">
    <nav class="main-header_navbar">
        <ul class="main-header-list_items">
            <li class="main-header_items"><a  class="active" href='/'>Shop</a></li>
            <li class="main-header_items"><a  class="active" href='/products'>Products</a></li>
            <li class="main-header_items"><a  class="active" href='/cart'>Cart</a></li>
            <li class="main-header_items"><a  class="active" href='/orders'>Orders</a></li>
            <li class="main-header_items"><a  class="active" href='/add-product'>Add Product</a></li>
            <li class="main-header_items"><a  class="active" href='/product'>Admin Products</a></li>
        </ul>
    </nav>
</header>